<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\post.css">
<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\blog.css">
<link rel="stylesheet" href="css\team.css">

<div id="content">
  <div class="container">
    <header class=" header3">
      <div class="brand-box">
        <span class="brand">Students Senate</span>
      </div>
      <div class="text-box">
        <h1 class="qwer" style="font-weight: 700">Simply the best</h1>
        <p style="color: white;">Reasons for choosing us</p>
      </div>
    </header>

    <div class="view">
      <div class="sidecontainer">
        <div class="notification-container">
          <div class="notf-title">
            <span>Notifications</span>
          </div>
          <div class="notifications">
            <div class="notification">
              <i class="fas fa-envelope"></i>
              <span>Please confirm your email</span>
            </div>
            <div class="notification">
              <i class="fas fa-book"></i>
              <span>Checkout our library page</span>
            </div>
            <div class="notification">
              <i class="fab fa-github"></i>
              <span>Follow us on github</span>
            </div>
            <div class="notification">
              <i class="fas fa-user"></i>
              <span>Someone followed you</span>
            </div>
          </div>
        </div>
        <div class="popular-post-container">
          <div class="post-container-title">
            <span>Popular posts</span>
          </div>
          <div class="popular-posts">
            <div class="popular-post">
              <img src="img/tower2.jpg">
              <span>Two Fishes were caught doing something fishy</span>
            </div>
            <div class="popular-post">
              <img src="img/tower2.jpg">
              <span>This post can save your life</span>
            </div>
            <div class="popular-post">
              <img src="img/tower2.jpg">
              <span>Jai shree ram, Ye post seedha ayodhya se aaya hai</span>
            </div>
            <div class="popular-post">
              <img src="img/tower2.jpg">
              <span>Bhula dena mujhe hai alvida tujhe, tujhe jeena ...</span>
            </div>
          </div>
        </div>
      </div>

      <div class="boy">
        <div class="post-navigator">
          <div class="options">
            <span>Formal</span>
            <span>Informal</span>
            <span>Promotion</span>
          </div>
          <div class="post-nav-slider"></div>
        </div>

        <%posts.map((post,i)=>{%>
          <%if(i&1^1){%>
            <div class="row">
          <%}%>
          <div class="column">
            <div class="card" style="background: url('/img/tabitha-turner-qtr0Lw4fMGc-unsplash.jpg')  center / cover no-repeat;">
              <div class="header4">
                <div class="date">
                  <span>12 Aug 2020</span>
                </div>
              </div>
              <div class="data">
                <div class="content">
                  <span class="author"> <%=post.author%> </span>
                  <h1 class="title"><a href="#"> <%=post.title%> </a></h1>
                  <p class="text"> <%=post.body%> </p>
                  <a href="/delete/<%=post._id%>" class="but2">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <%if(i&1){%>
            </div>
          <%}%>
        <%})%>

    </div>
  </div>
</div>

<%- include('layouts/foot.ejs') %>
