<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\lib.css">
<link rel="stylesheet" href="css\lib2.css">
<link rel="stylesheet" href="css\covers.css">
<script type="text/javascript" src="js\library.js"></script>
<div id="content">
  <div class="container">
    <header class=" header23">
      <div class="text-box">
        <h1 class="qwer">Library</h1>
        <a href="/addbook">Addbook</a>
      </div>
    </header>
    <div class="row">
      <div class="column-15">
        <ul>
          <div class="option">
            <label for="year">Year</label>
            <select name="year" id="year" multiple>
              <option value="1" onclick="toggleselect(this)">First</option>
              <option value="2" onclick="toggleselect(this)">Second</option>
              <option value="3" onclick="toggleselect(this)">Third</option>
              <option value="4" onclick="toggleselect(this)">Fourth</option>
            </select>
          </div>

          <br>

          <div class="option">
            <label for="department'">Department</label>
            <select name="department" id="department" multiple>
              <option value="1" onclick="toggleselect(this)">CST</option>
              <option value="2" onclick="toggleselect(this)">ETC</option>
              <option value="3" onclick="toggleselect(this)">IT</option>
              <option value="4" onclick="toggleselect(this)">EE</option>
              <option value="5" onclick="toggleselect(this)">ME</option>
              <option value="6" onclick="toggleselect(this)">CE</option>
              <option value="7" onclick="toggleselect(this)">Aero</option>
              <option value="8" onclick="toggleselect(this)">Meta and others</option>
            </select>
          </div>

          <br>

          <div class="option">
            <label for="subject'">Subject</label>
            <select name="subject" id="subject" multiple>
              <option value="1" onclick="toggleselect(this)">Mathematics</option>
              <option value="2" onclick="toggleselect(this)">Physics</option>
              <option value="3" onclick="toggleselect(this)">Organic Chemistry</option>
              <option value="4" onclick="toggleselect(this)">Inorganic Chemistry</option>
              <option value="5" onclick="toggleselect(this)">Physical Chemistry</option>
              <option value="6" onclick="toggleselect(this)">BEE</option>
              <option value="7" onclick="toggleselect(this)">Environ. and Ecology</option>
              <option value="8" onclick="toggleselect(this)">Sociology and Ethics</option>
            </select>
          </div>

          <br>
        </ul>
        <button type="button" name="filter" class="filter">filter</button>

      </div>
      <div class="column-85">
        <div class="book-container">
          <%books.map((book,i)=>{%>
            <% if(book.cover==0){%>
              <div class="card card0">
                <span class="title"><%=book.title%></span>
                <span class="author"><%=book.author%></span>
              </div>
            <%}%>

            <% if(book.cover==1){%>
              <div class="card card1">
                <div class="diamonds">
                  <div class="dia"></div>
                  <div class="dia"></div>
                  <div class="dia"></div>
                  <div class="dia"></div>
                  <div class="dia"></div>
                  <div class="dia"></div>
                  <div class="dia"></div>
                  <div class="dia"></div>
                  <div class="dia"></div>
                  <div class="dia"></div>
                </div>
                <span class="title"><%=book.title%></span>
                <span class="author"><%=book.author%></span>
              </div>
            <%}%>

            <% if(book.cover==2){%>
              <div class="card card2">
                <div class="ribbon"></div>
                <div class="centerdia"></div>
                <div class="ribbon"></div>
                <span class="title"><%=book.title%></span>
                <span class="author"><%=book.author%></span>
              </div>
            <%}%>

            <% if(book.cover==3){%>
              <div class="card card3">
                <div class="square"></div>
                <span class="title"><%=book.title%></span>
                <span class="author"><%=book.author%></span>
              </div>
            <%}%>

            <% if(book.cover==4){%>
              <div class="card card4">
                <div class="band"></div>
                <span class="title"><%=book.title%></span>
                <span class="author"><%=book.author%></span>
              </div>
            <%}%>

            <% if(book.cover==5){%>
              <div class="card card5">
                <div class="fallcontainer">
                  <div class="fall"></div>
                  <div class="fall"></div>
                  <div class="fall"></div>
                  <div class="fall"></div>
                  <div class="fall"></div>
                  <div class="fall"></div>
                  <div class="fall"></div>
                  <div class="fall"></div>
                  <div class="fall"></div>
                </div>
                <span class="title"><%=book.title%></span>
                <span class="author"><%=book.author%></span>
              </div>
            <%}%>

            <% if(book.cover==6){%>
              <div class="card card6">
                <div class="rainbow">
                  <div class="bow"></div>
                  <div class="bow"></div>
                  <div class="bow"></div>
                  <div class="bow"></div>
                  <div class="bow"></div>
                  <div class="bow"></div>
                  <div class="bow"></div>
                </div>
                <span class="title"><%=book.title%></span>
                <span class="author"><%=book.author%></span>
              </div>
            <%}%>

            <% if(book.cover==7){%>
              <div class="card card7">
                <div class="circles">
                  <div class="circle"></div>
                  <div class="circle"></div>
                  <div class="circle"></div>
                  <div class="circle"></div>
                  <div class="circle"></div>
                </div>
                <span class="title"><%=book.title%></span>
                <span class="author"><%=book.author%></span>
              </div>
            <%}%>

          <%})%>



        </div>
      </div>

    </div>

  </div>
</div>

<%- include('layouts/foot.ejs') %>
