<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\lib.css">
<link rel="stylesheet" href="css\lib2.css">
<link rel="stylesheet" href="css\covers.css">
<script type="text/javascript" src="js\library.js"></script>
<div id="content">
  <div class="container">
    <header class=" header23">
      <div class="text-box">
        <h1 class="qwer">Library</h1>
        <a href="/addbook" class="btn btn-white btn-animated">Add something??</a>
      </div>
    </header>
    <div class="row">
      <div class="column-15">
        <ul>
          <div class="option">
            <label for="type">Type</label>
            <select name="type" id="type" size="4" onchange="changedtab()">
              <option selected value="book">Book and notes</option>
              <option value="ques">Exam papers</option>
            </select>
          </div>

          <div class="bookfilters" id="bookfilters">
            <div class="option">
              <label for="year">Year</label>
              <select name="year" id="year" size="4">
                <option value="1">First</option>
                <option value="2">Second</option>
                <option value="3">Third</option>
                <option value="4">Fourth</option>
              </select>
            </div>
          </div>

          <div class="quesfilters" id="quesfilters" hidden>
            <div class="option">
              <label for="sessionyear">Year</label>
              <select name="sessionyear" id="sessionyear" size="5">
                <option value="2020">2020-21</option>
                <option value="2019">2019-20</option>
                <option value="2018">2018-19</option>
                <option value="2017">2017-18</option>
                <option value="2016">2016-17</option>
              </select>
              <script>
                var date = new Date()
                var year = date.getFullYear()
                var sessionyear = document.getElementById('sessionyear')
                for (var option of sessionyear.children) {
                  option.value = year
                  option.innerText = year + "-" + (year - 1999)
                  year--
                }
              </script>
            </div>
            <br>
            <div class="option">
              <label for="semester">Semester</label>
              <select name="semester" id="semester" size="4">
                <option value="1">First / Second</option>
                <option value="3">Third</option>
                <option value="4">Fourth</option>
                <option value="5">Fifth</option>
                <option value="6">Sixth</option>
                <option value="7">Seventh</option>
                <option value="8">Eighth</option>
              </select>
            </div>
          </div>

          <br>
          <div class="option">
            <label for="department'">Department</label>
            <select name="department" id="department" multiple>
              <option value="cst" onclick="toggleselect(0)">CST</option>
              <option value="etc" onclick="toggleselect(1)">ETC</option>
              <option value="it" onclick="toggleselect(2)">IT</option>
              <option value="ee" onclick="toggleselect(3)">EE</option>
              <option value="me" onclick="toggleselect(4)">ME</option>
              <option value="ce" onclick="toggleselect(5)">CE</option>
              <option value="aero" onclick="toggleselect(6)">Aero</option>
              <option value="meta" onclick="toggleselect(7)">Meta</option>
            </select>
          </div>

          <br>
        </ul>
        <div class="filterbuttons">
          <button type="button" name="filter" class="filter" onclick="filter()">filter</button>
          <button type="button" name="clearfilter" class="filter" onclick="clearfilter()">Clear</button>
        </div>

      </div>
      <div class="column-85">
        <%if(books.length==0){%>
          <%if(papers.length==0){%>
            <h1>No books founds</h1>
          <%}%>
        <%}%>
        <div class="book-container">
          <%books & books.map(book=>{%>
          <% if(book.cover==0){%>
          <a href="<%=book.url%>" class="cardcontainer" class="cardcontainer" target="_blank">
            <div class="card card0">
              <span class="title"><%=book.title%></span>
              <span class="author"><%=book.author%></span>
            </div>
            <div class="datacontainer">
              <h4>Physics</h4>
              <p class="title2">RODJ</p>
            </div>
          </a>
          <%}%>
          <% if(book.cover==1){%>
          <a href="<%=book.url%>" class="cardcontainer" target="_blank">
            <div class="card card1">
              <div class="diamonds">
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
              </div>
              <span class="title"><%=book.title%></span>
              <span class="author"><%=book.author%></span>
            </div>
            <div class="datacontainer">
              <h4>Physics</h4>
              <p class="title2">RODJ</p>
            </div>
          </a>
          <%}%>
          <% if(book.cover==2){%>
          <a href="<%=book.url%>" class="cardcontainer" target="_blank">
            <div class="card card2">
              <div class="ribbon"></div>
              <div class="centerdia"></div>
              <div class="ribbon"></div>
              <span class="title"><%=book.title%></span>
              <span class="author"><%=book.author%></span>
            </div>
            <div class="datacontainer">
              <h4>Physics</h4>
              <p class="title2">RODJ</p>
            </div>
          </a>
          <%}%>
            <% if(book.cover==3){%>
          <a href="<%=book.url%>" class="cardcontainer" target="_blank">
            <div class="card card3">
              <div class="square"></div>
              <span class="title"><%=book.title%></span>
              <span class="author"><%=book.author%></span>
            </div>
            <div class="datacontainer">
              <h4>Physics</h4>
              <p class="title2">RODJ</p>
            </div>
          </a>
          <%}%>
            <% if(book.cover==4){%>
          <a href="<%=book.url%>" class="cardcontainer" target="_blank">
            <div class="card card4">
              <div class="band"></div>
              <span class="title"><%=book.title%></span>
              <span class="author"><%=book.author%></span>
            </div>
            <div class="datacontainer">
              <h4>Physics</h4>
              <p class="title2">RODJ</p>
            </div>
          </a>
          <%}%>
            <% if(book.cover==5){%>
          <a href="<%=book.url%>" class="cardcontainer" target="_blank">
            <div class="card card5">
              <div class="fallcontainer">
                <div class="fall"></div>
                <div class="fall"></div>
                <div class="fall"></div>
                <div class="fall"></div>
                <div class="fall"></div>
                <div class="fall"></div>
                <div class="fall"></div>
                <div class="fall"></div>
                <div class="fall"></div>
              </div>
              <span class="title"><%=book.title%></span>
              <span class="author"><%=book.author%></span>
            </div>
            <div class="datacontainer">
              <h4>Physics</h4>
              <p class="title2">RODJ</p>
            </div>
          </a>
          <%}%>
            <% if(book.cover==6){%>
          <a href="<%=book.url%>" class="cardcontainer" target="_blank">
            <div class="card card6">
              <div class="rainbow">
                <div class="bow"></div>
                <div class="bow"></div>
                <div class="bow"></div>
                <div class="bow"></div>
                <div class="bow"></div>
                <div class="bow"></div>
                <div class="bow"></div>
              </div>
              <span class="title"><%=book.title%></span>
              <span class="author"><%=book.author%></span>
            </div>
            <div class="datacontainer">
              <h4>Physics</h4>
              <p class="title2">RODJ</p>
            </div>
          </a>
          <%}%>
            <% if(book.cover==7){%>
          <a href="<%=book.url%>" class="cardcontainer" target="_blank">
            <div class="card card7">
              <div class="circles">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
              </div>
              <span class="title"><%=book.title%></span>
              <span class="author"><%=book.author%></span>
            </div>
            <div class="datacontainer">
              <h4>Physics</h4>
              <p class="title2">RODJ</p>
            </div>
          </a>
          <%}%>
          <%})%>

        </div>

        <div class="rowe paper-container">
          <%papers & papers.map(paper=>{%>
            <div class="cardcolumn">
              <div class="card27">
                <div class="panel__image panel__image--book">
                  <a href="#" class="books__book__image">
                    <div class="books__book__img">
                      <img src="/img/book.png">
                    </div>
                  </a>
                </div>
                <div class="datacontainer">
                  <h4><%=paper.subject%></h4>
                  <div class="title2 paperdetails">
                    <p><%=paper.sessionyear%>-<%=paper.sessionyear-1999%></p>
                    <p><%=paper.semester%> sem</p>
                  </div>
                </div>
              </div>
            </div>
          <%})%>
        </div>
      </div>
    </div>
  </div>

  <%- include('layouts/foot.ejs') %>
