<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\lib.css">
<link rel="stylesheet" href="css\lib2.css">
<link rel="stylesheet" href="css\covers.css">
<script type="text/javascript" src="js\library.js"></script>
<div id="content">
  <div class="container">
    <header class=" header23">
      <div class="text-box">
        <h1 class="qwer">Library</h1>
        <a href="/addbook">Addbook</a>
      </div>
    </header>
    <div class="row">
      <div class="column-15">
        <ul>
          <div class="option">
            <label for="year">Year</label>
            <select name="year" id="year" size="4">
              <option value="1">First</option>
              <option value="2">Second</option>
              <option value="3">Third</option>
              <option value="4">Fourth</option>
            </select>
          </div>

          <br>

          <div class="option">
            <label for="department'">Department</label>
            <select name="department" id="department" multiple>
              <option value="cst" onclick="toggleselect(0)">CST</option>
              <option value="etc" onclick="toggleselect(1)">ETC</option>
              <option value="it" onclick="toggleselect(2)">IT</option>
              <option value="ee" onclick="toggleselect(3)">EE</option>
              <option value="me" onclick="toggleselect(4)">ME</option>
              <option value="ce" onclick="toggleselect(5)">CE</option>
              <option value="aero" onclick="toggleselect(6)">Aero</option>
              <option value="meta" onclick="toggleselect(7)">Meta</option>
            </select>
          </div>

          <br>
          <br>

          <div class="option">
            <label for="type">Type</label>
            <select name="type" id="type" size="4">
              <option value="book">Book and notes</option>
              <option value="ques">Exam papers</option>
            </select>
          </div>

          <br>
        </ul>
        <button type="button" name="filter" class="filter" onclick="filter()">filter</button>

      </div>
      <div class="column-85">
        <!-- <div class="post-navigator">
          <div class="options">
            <span class="checkedoption">Books and notes</span>
            <span>Question Paper</span>
          </div>
        </div> -->
        <div class="book-container">
          <%if(books.length==0){%>
          <h1>No books founds</h1>
          <%}%>
          <%books.map((book,i)=>{%>
          <% if(book.cover==0){%>
          <a href="<%=book.url%>" target="_blank">
            <div class="card card0">
              <span class="title"><%=book.title%></span>
              <span class="author"><%=book.author%></span>
            </div>
          </a>
          <%}%>

            <% if(book.cover==1){%>
          <a href="<%=book.url%>" target="_blank">
            <div class="card card1">
              <div class="diamonds">
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
              </div>
              <span class="title"><%=book.title%></span>
              <span class="author"><%=book.author%></span>
            </div>
          </a>
          <%}%>

            <% if(book.cover==2){%>
          <a href="<%=book.url%>" target="_blank">
            <div class="card card2">
              <div class="ribbon"></div>
              <div class="centerdia"></div>
              <div class="ribbon"></div>
              <span class="title"><%=book.title%></span>
              <span class="author"><%=book.author%></span>
            </div>
          </a>
          <%}%>

            <% if(book.cover==3){%>
          <a href="<%=book.url%>" target="_blank">
            <div class="card card3">
              <div class="square"></div>
              <span class="title"><%=book.title%></span>
              <span class="author"><%=book.author%></span>
            </div>
          </a>
          <%}%>

            <% if(book.cover==4){%>
          <a href="<%=book.url%>" target="_blank">
            <div class="card card4">
              <div class="band"></div>
              <span class="title"><%=book.title%></span>
              <span class="author"><%=book.author%></span>
            </div>
          </a>
          <%}%>

            <% if(book.cover==5){%>
          <a href="<%=book.url%>" target="_blank">
            <div class="card card5">
              <div class="fallcontainer">
                <div class="fall"></div>
                <div class="fall"></div>
                <div class="fall"></div>
                <div class="fall"></div>
                <div class="fall"></div>
                <div class="fall"></div>
                <div class="fall"></div>
                <div class="fall"></div>
                <div class="fall"></div>
              </div>
              <span class="title"><%=book.title%></span>
              <span class="author"><%=book.author%></span>
            </div>
          </a>
          <%}%>

            <% if(book.cover==6){%>
          <a href="<%=book.url%>" target="_blank">
            <div class="card card6">
              <div class="rainbow">
                <div class="bow"></div>
                <div class="bow"></div>
                <div class="bow"></div>
                <div class="bow"></div>
                <div class="bow"></div>
                <div class="bow"></div>
                <div class="bow"></div>
              </div>
              <span class="title"><%=book.title%></span>
              <span class="author"><%=book.author%></span>
            </div>
          </a>
          <%}%>

            <% if(book.cover==7){%>
          <a href="<%=book.url%>" target="_blank">
            <div class="card card7">
              <div class="circles">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
              </div>
              <span class="title"><%=book.title%></span>
              <span class="author"><%=book.author%></span>
            </div>
          </a>
          <%}%>

          <%})%>



        </div>
      </div>

    </div>

  </div>
</div>

<%- include('layouts/foot.ejs') %>
