<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css/start.css">
<link rel="stylesheet" href="css/profile.css">

<script type="text/javascript" src="js\connect.js"></script>
<div id="content">
  <div class="container">
    <div class="yaya">
      <div class="usercard">
          <div class="usercard_body">
            <header class="usercard_header">
              <img src="<%=profileuser.image%>" class="usercard_image" alt="avatar">
              <h1 class="usercard_name" style="font-weight: 700; text-transform: capitalize"><%=profileuser.name%></h1>
            </header>
            <div class="about2">
              <!-- <h2>About</h2>
              <p>I stared Mother Nature in the face, and she smiled back</p> -->
              <%if(posts.length){%>
                <h2>Posts</h2>
                <div class="baby2">
                  <%posts.map((post)=>{%>
                    <div class="lolo">
                      <a href="/blog?id=<%=post._id%>"><%=post.title%></a>
                      <%if(self){%>
                        <a href="/delete/<%=post._id%>"><i class="fa fa-trash"></i></a>
                      <%}%>
                    </div>
                  <%})%>
                </div>
              <%}else{%>
                <h2>No posts, lol</h2>
              <%}%>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<%- include('layouts/foot.ejs') %>
