<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\blog.css">
<link rel="stylesheet" href="css\fullblog.css">
<link rel="stylesheet" href="css\team.css">
<script type="text/javascript" src="js\front.js"></script>

<div class="fullblogcontainer" id="fullblogcontainer" hidden>
  <a onclick="togglepostoff()"> <i class="fas fa-times"></i> </a>
  <div class="fullblogoverlay" id="fullblogoverlay"></div>
  <div class="fullblog" id="fullblog">
    <header class="blog-header">
      <div class="blog-header user  flex-auto-ns">
        <a><img class="photo" src="https://static.dribbble.com/users/32512/avatars/normal/b394be60a32a4c82f89c73b0349af025.png?1556087466"></a>
        <div class="blog-details">
          <h1 class="blog-title"></h1>
          <h2 class="blog-byline">
            <span class="attribution">
              <span class="blog-byline-user">
                by <a class="url hoverable blog-hoverable" rel="contact"></a>
              </span>
              <span class="blog-date">Tuesday, Feb 24, 2020 </span>
            </span>
          </h2>
        </div>
      </div>
    </header>
    <section>

      <div class="postimage">
        <img src="img/mountains.jpg" alt="">
      </div>

    </section>
    <section>
      <div class="blogbody">
      </div>
    </section>
  </div>
</div>

<div id="content">
  <div class="container">
    <header class=" header3">
      <div class="brand-box">
        <span class="brand">Students Senate</span>
      </div>
      <div class="text-box">
        <h1 class="qwer" style="font-weight: 700">Simply the best</h1>
        <p style="color: white;">Reasons for choosing us</p>
        <br>
      <a href="/add" class="btn btn-white btn-animated">Wanna add blog??</a>
      </div>
    </header>

    <div class="view">
      <div class="sidecontainer">
        <div class="notification-container">
          <div class="notf-title">
            <span>Notifications</span>
          </div>
          <div class="notifications">
            <div class="notification">
              <i class="fas fa-envelope"></i>
              <span>Please confirm your email</span>
            </div>
            <div class="notification">
              <i class="fas fa-book"></i>
              <span>Checkout our library page</span>
            </div>
            <div class="notification">
              <i class="fab fa-github"></i>
              <span>Follow us on github</span>
            </div>
            <div class="notification">
              <i class="fas fa-user"></i>
              <span>Someone followed you</span>
            </div>
          </div>
        </div>
        <div class="popular-post-container">
          <div class="post-container-title">
            <span>Popular posts</span>
          </div>
          <div class="popular-posts">
            <div class="popular-post">
              <img src="img/tower2.jpg">
              <span>Two Fishes were caught doing something fishy</span>
            </div>
            <div class="popular-post">
              <img src="img/tower2.jpg">
              <span>This post can save your life</span>
            </div>
            <div class="popular-post">
              <img src="img/tower2.jpg">
              <span>Jai shree ram, Ye post seedha ayodhya se aaya hai</span>
            </div>
            <div class="popular-post">
              <img src="img/tower2.jpg">
              <span>Bhula dena mujhe hai alvida tujhe, tujhe jeena ...</span>
            </div>
          </div>
        </div>
      </div>

      <div class="boy">
        <div class="post-navigator">
          <div class="options">
            <span>Formal</span>
            <span>Informal</span>
            <span>Promotion</span>
          </div>
          <div class="post-nav-slider"></div>
        </div>

        <%posts.map((post,i)=>{%>
        <%if(i&1^1){%>
        <div class="row">
          <%}%>
          <div class="column">
            <div class="card" style="background:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/img/tabitha-turner-qtr0Lw4fMGc-unsplash.jpg')  center / cover no-repeat;">
              <div class="header4">
                <div class="date">
                  <span>
                    <%= post.createdAt.toLocaleDateString("en-US",{weekday: "short",year:"numeric",month:"short",day: "numeric" })%>
                  </span>
                </div>
              </div>
              <div class="data">
                <div class="content1">
                  <span class="author"> <%=post.author%> </span>
                  <h1 class="title"  onclick="togglepost(this)"><a> <%=post.title%> </a></h1>
                </div>
                <div class="content2">
                  <p class="text"> <%=post.snippet%> </p>
                  <p hidden> <%=post.body%> </p>
                  <a href="/delete/<%=post._id%>" class="but2">Read More</a>
                </div>
              </div>
            </div>
          </div>
        <%if(i&1){%>
        </div>
        <%}%>
      <%})%>

      </div>
    </div>
  </div>
</div>
<%- include('layouts/foot.ejs') %>
